/* 
  Name: FI
  Date: 02/10/2022

  Rock Paper Scissors Game - Main styling sheet.
  TODO optimize the layout of the file by the structure of the page. 
*/

* {
  padding: 0;
  margin: 0;
}

body,
html {
  display: flex;
  flex-direction: column;
  height: 100%;
}

div {
  border-radius: 20px;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container .page-title {
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.body-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.body-container .selection-container {
  border: 1px solid black;
  height: 500px;
  width: 80%;
}

.body-container .result-container {
  border: 1px solid black;
  width: 80%;
  height: 200px;
}

.footer-container .footer-element {
  border: 2px solid black;
  background-color: black;
  color: white;
  text-align: center;
}

.footer-container .footer-element .footer-text {
  margin-top: auto;
  display: flex;
}

.footer-container .footer-element {
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  justify-content: center;
}

.selection-container .selection-title-text {
  border-bottom: 1px solid black;
  padding-left: 20px;
  font-style: italic;
}

.result-container .results-title-text {
  border-bottom: 1px solid black;
  padding-left: 20px;
  font-style: italic;
}


.user-options-container {
  height: 80%;
  padding: 10px;
  margin: 10px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */
}

.user-options-container>.user-options {
  border: 2px solid grey;
  width: 40%;
  height: 40%;
  background-color: slategrey;
}

.user-options p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.selection-container .selection-supporting-text {
  display: flex;  
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  text-decoration: underline;
  font-size: 15px;
}