* {
  padding: 0;
  margin: 0;
}

body,
html {
  display: flex;
  flex-direction: column;
  height: 100%;
}

div {
  border-radius: 20px;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container .page-title {
  padding-top: 25px;
  padding-bottom: 25px;
}

.main-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.body-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.body-container .selection-container {
  border: 1px solid black;
  height: 500px;
  width: 80%;
}

.body-container .result-container {
  border: 1px solid black;
  width: 80%;
  height: 200px;
}

.footer-container .footer-element {
  border: 2px solid black;
  background-color: black;
  color: white;
  text-align: center;
}

.footer-container .footer-element .footer-text {
  margin-top: auto;
  display: flex;
}

.footer-container .footer-element {
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  justify-content: center;
}